.printing {
  font-family: sans-serif;
  max-width: 600px;
  border: solid 1px #ccc;
  text-align: center;
  padding: 1em;
  margin: 2em auto;
}

.print{
  background-color: #f0f0f0;
  border: solid 1px #bbb;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px; 
}

pre {
  color: #c7254e;
}